*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  place-items: center;
  font-family: "Inter", sans-serif;
  background: #bdbdbd10;
}

img {
  display: block;
  max-width: 100%;
}

#myChart {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #bdbdbd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
  }
  .container-pokemon,
  .container-chart {
    width: 49%;
  }
}

.container-pokemon,
.container-chart {
  padding: 1.2rem;
}

.form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form__input,
.form__button {
  padding: 0.5rem 0;
  border: 1px solid #131313;
  outline: none;
  border-radius: 0;
  font-size: 1rem;
}

.form__input {
  width: 70%;
  padding-left: 0.5rem;
}

.form__button {
  width: 30%;
  background: #131313;
  color: white;
}
.container-image {
  border-radius: 50%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

.imagen {
  width: 270px;
  height: 270px;
}

.pokemon-types {
  width: auto;
  padding: 0.5rem 1rem;
  color: white;
  border: 0;
  border-radius: 16px;
  background: #131313;
}

.h1 {
  margin-bottom: 2rem;
  text-align: center;
}

/* -----Loader-----*/
.lds-dual-ring {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  width: 16px;
  height: 16px;
}

.loader--active {
  opacity: 1;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
