
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  place-items: center;
  font-family: "Inter", sans-serif;
  background: #BDBDBD10;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  padding: 1rem;
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #BDBDBD;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3)		;
}

.container-pokemon,
.container-chart {
  padding: 1.5rem;
}

.container-pokemon {
  width: 400px;
}

.form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form__input,
.form__button {
  padding: 0.5rem 0;
  border: 1px solid #131313 ;
  outline: none;
  border-radius: 0;
  font-size: 1rem;
}
.form__input {
  width: 70%;
  padding-left: 0.5rem;
}

.form__button {
  width: 30%;
  background: #131313;
  color: white;
}
.container-image {
  border-radius: 50%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}
.imagen{
  width: 270px;
  height: 270px;
}
.pokemon-types {
    width: auto;
    padding: .5rem 1rem;
    color:white;
    border: 0;
    border-radius: 16px;
    background: #131313;
}



.h1{
  margin-bottom: 2rem;
  text-align: center;
}
